.cardContainer {
    display: flow-root;
    border: 2px solid #FFA05A;
    border-radius: 20px;
    width: 50%;
    min-width: 20rem;
    text-align: center;
    box-shadow: 3px 3px 56px rgba(255, 160, 90, .26);
}

.donationContainer {
    width: 100%;
    background-color: rgba(17,31,154,1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    transition: box-shadow 0.2s ease-in-out;
    margin-top: 1rem;
    padding: 1.5rem 2rem;
}
.donationContainer:hover {
    box-shadow: 3px 3px 20px rgba(255, 160, 90, .4);
    
}

.donationListContainer {
    padding-top: 2rem;
    min-width: 20rem;
    width: 50%;
    max-height: 70vh;
    overflow-x: hidden;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
